.mostInput{
  padding-left: 10px;
  background-color: white;
  border-radius: 20px 0 0 20px;
  font-size: 28px;
  border: none
}

.mostInput:focus{
  outline: none;
  color: black;
  place-content: none;
  padding: 0 0 0 0;
  padding-left: 10px;
}
